
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">X1</h1>
            <div class="row center">
                <h5 class="header col s12 light">The first social media based on Aadhar</h5>
            </div>
            <div class="row center">
                <a href="/register.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">person_add</i></h2>
                    <h5 class="center">Connect with employers</h5>

                    <p class="light">By using X1 you can connect with Employers in real-time and according to your educational qualification. So feel free and have your dream job!!!!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Have fun and chat with friends (As well as do your works with ease)</h5>

                    <p class="light">We are slightly different from other social media applications. X1 is entirely for Indians where you can chat with friends and at the same time do your day-to-day works. Form Educational, Research, Project and Work groups!!!</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">public</i></h2>
                    <h5 class="center">Hiring made SIMPLE</h5>

                    <p class="light">And our dear brands and employers can expand easily and the hiring process is SIMPLE!!!!!</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="center white-text">The best part is that no more fake accounts and no more cyber bullying!!!</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <h6><p class="center light">Please goto the bottom of the page to contact us!!!!! <br><br> We are free to discuss about us at any moment. <br><br> ONLY IF YOU CONTACT US!!!</p></h6>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="center white-text">Fluid pages where you can multi-task. Easy-peasy!!!</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated. Just kidding. But if you really like our work don't forget to donate. Again just kidding!!!</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">FB</h5>
                <ul>
                    <li><a class="white-text" href="#!">Aakash</a></li>
                    <li><a class="white-text" href="#!">Pavithran</a></li>
                    <li><a class="white-text" href="#!">Abishaik</a></li>
                    <li><a class="white-text" href="#!">Snehaa</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Github</h5>
                <ul>
                    <li><a class="white-text" href="#!">Aakash</a></li>
                    <li><a class="white-text" href="#!">Pavithran</a></li>
                    <li><a class="white-text" href="#!">Abishaik</a></li>
                    <li><a class="white-text" href="#!">Snehaa</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Proudly presented by <a class="brown-text text-lighten-3" href="#">Ascaris Corp.</a>
        </div>
    </div>
</footer>