<div class='login' ng-controller="Logincontrollers as lctrl">
    <div class="row" style="position: absolute; min-height: 100%; height:100%; width: 100%; top: 0;">
        <div class="col s12 m7 white" style="min-height:100%; height: 100%;">
            <div class="row">
                <div class="col s12" style="padding: 10px;">
                    <a href="/">
                        <img src="./images/templogo.png" style="height: 28px; vertical-align: middle; margin-top: -7px;"><span class="grey-text text-darken-1 lighten" style="font-size: 1.3rem; margin-left: 10px; font-weight: 700; font-family: Lato;"><b class="orange-text">simple</b>booklet</span>
                    </a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0;">
                <div class="col s12 edge">
                    <h4 class="center lato">Log In</h4>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0; max-width: 600px;">
                <div class="col s12 edge">
                    <div id="login_div">
                        <div class="signin" style="width: 100%;">
                            <input type='hidden' name='name' value='' />

                            <label for="username">Email Address</label>
                            <input id='username' class="" type="text" ng-model="lctrl.username" />

                            <label for="password">Password</label>

                            <input id='password' class="" type="password" ng-model="lctrl.password"  />

                            <input class='btn btn-large green' type='submit' ng-click="lctrl.login()" />

                            <span style="float: right; padding-top: 6px;">
				            	<input id="remember" type="checkbox" name="remember">
								<label for='remember' style='display: inline;' >
									<span style="font-size: 16px; color: #4d4d4d;">Stay logged in</span>
								</label>
							</span>

                        </div>


                        <br>
                        <a id='forgot_password' href="#" class="wave-effect btn right grey" tabindex = "-1" >Forgot Password?</a>

                    </div>


                    <div id="forgot_div">

                        <p>
                            Forgot your password?  We'll email you a new one.
                        </p>
                        <form class="signin" method="post" action="/login.php">
                            <label for="username_forgot">Email Address</label>
                            <input id='username_forgot' class="" type="text" name="username" />

                            <input class='btn btn-large green' type='submit' name='submit_forgot' value='Send It' />
                            <br><br><a id="login_return">Return to Login</a>
                        </form>
                    </div>


                </div>
            </div>

        </div>
        <div class="col s12 m5 green" style="min-height: 100%; padding: 10% 5%;">
            <img src="#">

            <div class="row">
                <div class="col s12" style="padding: 20px 0;">
                    <h5 class="lato white-text" style="display: inline; vertical-align: middle; font-weight: 600; margin-right: 10px;">need an account? </h5>
                    <a class="login btn orange" style="text-decoration:none;" href="" ng-click="lctrl.signup()" >sign up here</a>
                </div>
            </div>



            <h6 class="light white-text half-line">By creating your account and using simplebooklet, you are agreeing to our <a href="#"  class="white-text" target="_blank" style="font-weight: 700; text-decoration: underline;">Terms of Service</a> and <a href="#" class="white-text"  target="_blank" style="font-weight: 700; text-decoration: underline;">Privacy Policy</a>. If you do not agree, you cannot use X1.</h6>


        </div>

    </div>
</div>